<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css" >

    <title>Document</title>
</head>
<body>

    <div class="instagram-wrapper">
        <div class="instagram-phone">
            <img src="/static/images/blackcel.png" alt="black cel">
        </div>
        <div class="instagram-continue">
            <div class="group">
                <img src="/static/images/Instagram-Logo.png" class="instagram-logo" alt="Logo Instagram">
                <div class="foto-perfil">
                    <img src="/static/images/me.jpg" alt="foto perfil">
                </div>
                <a href="#" class="intagram-login">Continue como vinicius</a>
                <a href="#" class="intagram-logout">Remover conta</a>
            </div>
        </div>
    </div>
    
</body>
</html>